@{
    ViewData["Title"] = "Главная страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p class="lead">Система управления базой данных "Центр онлайн обучения".</p>
</div>
