name: Build and Publish for coursework

on:
  push:
    branches: [coursework]

env:
  DOTNET_VERSION: '8.0.x'

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: self-hosted
        
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
      
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Test
      run: dotnet test ${{ env.SOLUTION_FILE_PATH }} --verbosity normal
      
    - name: Publish application
      run: dotnet publish --configuration Release --output ./publish --no-build
      
